<!--@{
    ViewBag.Title = "Home Page";
}-->
@*<div class="jumbotron">
    </div>*@

<!--<div class="row">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Images/logo-GSB.jpg" class="img-responsive"/>
        </div>
        <h1 class="h1">Galaxy Swiss Bourdin</h1>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-primary" href="https://localhost:44390/Departements">Voir par départements &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-primary" href="https://localhost:44390/Medecins">Voir médecin &raquo;</a></p>
    </div>
</div>-->

@{
    ViewBag.Title = "Page d'accueil";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Images/logo-GSB.jpg" class="img-responsive img-thumbnail" alt="Logo de Galaxy Swiss Bourdin" />
            </div>
            <div class="col-md-10">
                <h1 class="display-3">Galaxy Swiss Bourdin</h1>
                <p class="lead">Le laboratoire Galaxy Swiss Bourdin (GSB) est spécialisé dans le développement de produits pharmaceutiques innovants. Nous sommes dédiés à améliorer la santé et le bien-être des patients.</p>
                <p>Vous pourrer retrouver sur ce site la liste de tout nos medecins par départements.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Parcourez par département</h2>
            <p>Découvrez les derniers traitements médicaux et services offerts par Galaxy Swiss Bourdin.</p>
            <p><a class="btn btn-primary" href="https://localhost:44390/Departements">Voir les départements &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Recherchez un médecin</h2>
            <p>Recherchez dans notre base de données de médecins qualifiés pour trouver celui qui vous convient.</p>
            <p><a class="btn btn-primary" href="https://localhost:44390/Medecins">Trouvez un médecin &raquo;</a></p>
        </div>
    </div>
</div>
